@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

html {
  font-size: 16px;
}

body {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#chat {
  display: flex;
  flex-direction: column;
}

.message {
  &.slide-out {
    transform: translateX(-100%);
    opacity: 0;
  }
}

#chat .message:not(.new-message) {
  // background: red;
}